/*..styling services main content page component..*/

.s-title{  /*..styling title h2 on main content..*/
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 80px;
    padding-top: 40px;

}

.service-top{
    display: flex;
    margin-left: 30px;
    margin-bottom: 80px;

}

 .simg2, .simg3, .simg4{
    padding-left: 80px;
}

.simg1, .simg2, .simg3, .simg4,  p{
    font-size: 16px;
    line-height: 1rem;
}

.services-container{  /*..styling background of the services page.. */
    background: linear-gradient(180deg,
     rgba(66, 33, 11, 0.65) 0%, 
     rgba(255, 255, 255, 0.32) 51.28%,
      rgba(202, 224, 155, 0.22) 73.16%, 
      rgba(136, 185, 33, 0.51) 100%);
      background-size:cover
}

hr{  /*..hr tag line styling ..*/
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.service-bottom{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    padding-bottom: 40px;

}

 .simg5, .simg6, .simg7{  /*..images main content styling..*/
    padding-right: 80px;
}

.simg5, .simg6, .simg7, .simg8,  p{
    font-size: 16px;
    line-height: 1rem;
}

 .sh > img:hover{
    color: lightgray;
    opacity: 0.5;
    transition: 250ms;
    transform: translateY(-3px);
}

/*..media reponsive screen size for mediun laptop..  */

@media only screen and (max-width:1075px){
    .service-top{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-bottom: 80px;
    
    }

    .simg5, .simg6, .simg7{
        padding-right: 60px;
    }

    .simg2, .simg3, .simg4{
        padding-left: 60px;
    }
    .service-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin-right: 20px;
        padding-bottom: 40px;
    
    }
}

/*..media reponsive screen size for mediun tablet..  */

@media only screen and (max-width:793px){
    .service-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        justify-content: space-around;
        margin-left: 20px;
        margin-bottom: 80px;
    
    }

    .simg5, .simg6{
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .simg1, .simg2{
        padding-left: 40px;
        padding-bottom: 40px;
    }
    .service-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        justify-content: space-around;
        margin-right: 20px;
        padding-bottom: 60px;
    
    }
}

/*..media reponsive screen size for small tablet..  */

@media only screen and (max-width:678px){
    .service-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        justify-content: space-around;
        margin-left: 0px;
        margin-bottom: 80px;
    
    }

    .simg5, .simg6{
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .simg1, .simg2{
        padding-left: 10px;
        padding-bottom: 40px;
    }
    .service-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        justify-content: space-around;
        margin-left: 40px;
        padding-bottom: 60px;
    
    }

    .simg1, .simg2, .simg3, .simg4,  p{
        justify-content:left;
        margin: 0;
    }

    .simg1, .simg2, .simg3, .simg4,  h2{
        justify-content:left;
        margin: 0;
    }
    
    .simg5, .simg6, .simg7, .simg8,  p{
        justify-content:left;
        margin: 0;
    }

    .simg5, .simg6, .simg7, .simg8,  h2{
        justify-content:left;
        margin: 0;
    }
    
}

/*..media reponsive screen size for large mobile..  */

@media only screen and (max-width:560px){
    .sh > img{
        width: 186px;
        height: 257px;
    }

    .simg5, .simg6, .simg7, .simg8{
        padding-right: 10px;
    }

    .simg1, .simg2, .simg3, .simg4{
        padding-left: 10px;
    }
}

/*..media reponsive screen size for larg mobile..  */

@media only screen and (max-width:514px){
    .service-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        justify-content: space-around;
        margin-left: 40px;
        margin-bottom: 80px;
    
    }

    .simg2{
        margin-left: -15%;
    }

    
     .simg4{
        margin-left: -25%;
    }


}

/*..media reponsive screen size for mediun to small mobile..  */

@media only screen and (max-width:414px){
    .service-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        justify-content: space-around;
        margin-left: 40px;
        margin-bottom: 80px;
    
    }

    .simg2{
        margin-left: 0%;
    }

    
     .simg4{
        margin-left: 0%;
    }


}


