/*..service page hero banner style file  with responsive style format on different sizes*/

.services-s{/*..banner background and animation slide images*/
    background-image: url('../../img/banner-s-1.jpg');
    background-repeat: no-repeat;
    background-position:center 5%;
    background-size: cover;
    width: 100%;
    height: 220px;
    animation: sliding 10s infinite;
}

@keyframes sliding { /*.. slide images for the banner animation*/
    0%{
        background-image: url('../../img/banner-s-1.jpg');
    }

    50%{
        background-image: url('../../img/banner-s-2.jpg');
    }

    100%{
        background-image: url('../../img/banner-s-3.jpg');
    }
}

.services-s{
    justify-content: center;
}

.emerg{
    margin-left: 20px;
    padding-top: 40px;
}

h2{
    font-family: arimo;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

p{
    font-family: arimo;
    font-size: 18px;
    padding-left: 10px;
}


.service-slog{
    display: block;
    text-align:left;
    width: 30%;
    margin-left: 40%;
    margin-top: -55px;
    font-weight: 600;
  
}

.service-lin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -2%;
    margin-right: 20px;
}

/*..starting size screen style maximo width 1366px */

@media only screen and (max-width: 1366px){
    .services-s > .service-lin {
        margin-top: -5%;
        margin-right: 20px;
        flex-wrap:nowrap;

    
    }
    
}

/*..size screen style maximo width 1274px */

@media only screen and (max-width: 1274px){
    .services-s > .service-lin {
        margin-top: -5%;
        margin-left: 30%;
        display: inline-block;
        width: 100%;
    }
    
}

/*..size screen style max width 966px */

@media only screen and (max-width: 966px){
    .services-s > .service-lin {
        margin-top: -6%;
        margin-left: 30%;
        display: inline-block;
        width: 100%;
    }

    .service-slog{
     
        margin-left: 30%;
        margin-top: -65px;
        font-weight: 600;
      
    }
    
}

/*..size screen style max width 820px */

@media only screen and (max-width: 820px){
  
.services-s .service-slog{
    margin-top: -80px;
    width: 50%;

}

.services-s > .service-lin {
    margin-top: -1%;
}
 
}

/*..size screen style max width 682px */

@media only screen and (max-width: 682px){


    
    .services-s .service-slog  {
        width: 80%;
        margin-left: 8%;


    }

    .services-s .emerg  {
        margin-left: -100%;

    }
    
    
}

/*..size screen style max width 539px */

@media only screen and (max-width: 539px){


    
    .services-s .service-slog  {
        width: 80%;
        margin-top: -8px;
        margin-left: 8%;


    }

    .services-s .emerg  {
        margin-top: -25px;
        padding-bottom: 10px;
        margin-left: 30%;

    }
    
    
}

/*..size screen style max width 515px */

@media only screen and (max-width: 515px){


    .services-s .service-slog  {
        width: 100%;
        margin-left: -1%;
        display: flex;
        margin-top: -19px;
    }
    
     .service-slog > p{
        font-size: 15px;
    }
    
    .services-s > .service-lin{
        align-self: center;
        margin-left: 20%;
        margin-top: -1%;

    }

    .services-s .emerg  {
        margin-left: 25%;
        margin-bottom: 10%;
        width: 100%;
        padding-top: 0;
    }

}

/*..size screen style max width 411px */

@media only screen and (max-width: 411px){
    .services-s > .service-lin{
        align-self: center;
        margin-left: 20%;
        margin-top: -5%;
        
    }

    .emerg > p{
        font-size: 15px;
        padding-bottom: 5px;
    }
  
    .emerg > h2{
        font-size: 18px;
    }

    .services-s .service-slog  {
        width: 140%;
        margin-left: -35%;
        margin-right: 0;
        padding-bottom: 10px;
        display: flex;
        margin-top: -19px;
    }
}

/*..size screen style max width 390px */

@media only screen and (max-width: 390px){
    .services-s .service-slog  {
        width: 140%;
        margin-left: -40%;
        margin-right: 0;
        padding-bottom: 10px;
        display: flex;
        margin-top: -19px;
    }

}