/*..Desktop screen over 960px....*/

.NavbarItems { /*..nav bar styling propeties...*/
    background-image: url(/src/img/bkg1\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.up-line{ /*..styling upper line in the nav bar */
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    font-size:13px;
    color:#009245 ;
    background-color:#00000093 ;
    padding-left: 10px;
    font-family:Poppins;
}

.up-line > span{
    float: right;
    margin-right: 20px;
    padding: 2px;
    color:#009245 ;
    font-family:Poppins;

}

.up-line > span a{
   text-decoration: none;
    color:#009245 ;
}

.up-line > span a:hover{
     color:#cae7d8 ;
 }

 .link > img{ /*..styling logo image..*/
    cursor: pointer;
    margin-left: -50%;
 }
 
.navbar-logo{  /*..nav logo h1 ...*/
    color: white;
    font-size: 29px;
    font-weight: normal;
    justify-self:start;
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {  /*..menu icon hamburguer using css grid to organise the objects.*/
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align:end;
    width: 70vw;
    justify-content:center;
    margin-right: 4rem;
    margin-top: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-family: Poppins;
    font-weight:550;
}

.nav-links:hover{
    background-color: #67A925;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.link{
    text-decoration: none;
}

.fa-bars{  /*..add colour to menu icon bars*/
    color: #fff;
}

.menu-icon{
    display: none;
}

/*..small laptop screen 960px....*/
@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background-color:#042F1B;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #67A925;
        border-radius: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
        font-size: 24px;
        margin-left: -5%;
        margin-top: 30px;
    }

    .menu-icon{
        display:block;
        position: absolute;
        right: 20%;
        top: 20%;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;

    }

    .fa-times {
        color: #fff;
        font-size: 2rem;

    }

    button{
        display: none;
    }

}
/*..large tablet screen 806px....*/
@media only screen and (max-width: 806px){
    .up-line {
        font-size: 10px;
    }

    .navbar-logo{
        font-size: 19px;
        margin-top: 50px;
        margin-left: 0px;
        text-align: start;
    }

    .menu-icon{
        margin-top: 10px;
        margin-right: -40px;
        text-align: start;
    }
}

/*..mediun tablet screen 628px....*/
@media only screen and (max-width: 628px){
    .up-line {
        font-size: 9px;
    }

    .navbar-logo{
        text-align: start;
        margin-left: -20px;
    }
}

/*..small tablet screen 566px....*/
@media only screen and (max-width: 566px){

    .up-line {
        font-size: 9px;
        height: 27px;

    }

    img{
        width: 88px;
        height: 68px;
    }

    .link > img{
        justify-content: flex-end;
        margin: 0 0 0 44px;
    }

    .navbar-logo{
        font-size: 19px;
        text-align: start;
        margin-left: -20px;
    }
}

/*..largest mobile screen 454px....*/

@media only screen and (max-width: 454px){
    .up-line {
        height: 27px;

    }

    img{
        width: 88px;
        height: 68px;
    }

    .navbar-logo{
        font-size: 20px;
        margin-top: 30px;
        text-align: start;

    }
}

/*.. large mobile screen 411px....*/

@media only screen and (max-width: 411px){
    .up-line {
        height: 27px;

    }

    img{
        width: 78px;
        height: 58px;
    }

    .navbar-logo{
        font-size: 16px;
        margin-top: 30px;
        text-align: start;
        margin-left: -18px;
    }
}

/*..small mobile screen 365px....*/
@media only screen and (max-width: 365px){
 


    .navbar-logo{
        font-size: 16px;
        margin-top: 30px;
        text-align: start;
        padding-left: 5px;

    }
}