/*..Css styling for the about content component*/

.about-container{  /*..about content background styling..*/

    background-image: url('../img/bkg2.jpg' );
    background-repeat: no-repeat;
    background-size: cover;
}

.title{  /*..styling h2 title ..*/

    font-weight: bold;
    font-size: 40px;
    padding: 20px;
}

.top1{  /*..first part styling of about content component..*/

    background: rgba(196, 196, 196, 0.3);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 30%;
    margin-left: 20px;
    padding-bottom: 10px;
    display:inline-block;

}

.top1 > h3{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
}

.top1 > p{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    padding-right: 10px;
}

.top2{   /*..second part styling of about content component..*/

    background: rgba(196, 196, 196, 0.3);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    padding-bottom: 10px;
    display:inline-block;


}

.top2 > h3{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
}

.top2 > p{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    padding-right: 10px;
}


.botom1{
    background: rgba(196, 196, 196, 0.3);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width:30%;
    margin:0 20px  0 20px;
    padding-bottom: 10px;
    display:flow-root;

}

.botom1 > h3{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
}

.botom1 > p{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    padding-right: 10px;
}

.botom2{
    background: rgba(196, 196, 196, 0.3);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    width:50%;
    margin: 20px;
    padding-bottom: 10px;
    float: right;
    margin-top: -9.5%;
    margin-right: 18%;


}

.botom2 > h3{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
}

.botom2 > ul{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    padding-right: 10px;
    padding-left: 30px;
}

.btAbout{
    padding-bottom: 40px;
}

/*..Media screen size large tablet..*/

@media only screen and (max-width: 951px){

    .about-container{
        background-image: url('../img/bkg2.jpg' );
        background-repeat: no-repeat;
        background-size:cover;
        height:800px;
    }
    .botom1{
        margin-bottom: 10px;
    
    }

    .botom2{
        margin-top: -30%;
        margin-right: 13%;
        height: 280px;
        width: 497.5px;
        margin-bottom: 140%;
    
    }

    .botom2 > h3{
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
    
    .botom2 > ul{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: justify;
        padding-right: 10px;
        padding-left: 30px;
    }
}

/*..Media screen size large tablet..*/

@media only screen and (max-width: 951px){

    .botom2{
        margin-top: -30%;
        margin-right: 10%;
        height: 280px;
        width: 497.5px;
        margin-bottom: 140%;
    
    }

    .botom1 > p{
        text-align: left;
        font-size: 18px;
    }

    
    .botom1 > h3{
        text-align: left;
        font-size: 18px;
    }

    .top1 > p{
        text-align: left;
        font-size: 18px;
    }

    
    .top1 > h3{
        text-align: left;
        font-size: 18px;
    }
    .top2 > p{
        text-align: left;
        font-size: 18px;
    }

    
    .top2 > h3{
        text-align: left;
        font-size: 18px;
    }
}

/*..Media screen size mediun tablet..*/

@media only screen and (max-width: 851px){

    .botom2{
        margin-top: -30%;
        margin-right: 5%;
        height: 280px;
        width: 497.5px;
        margin-bottom: 140%;
    
    }
}

/*..Media screen size small tablet..*/

@media only screen and (max-width: 789px){

    .botom2{
        margin-top: -45%;
        margin-right: 10%;
        height: 380px;
        width: 397.5px;
        margin-bottom: 180%;
        
    }
}

/*..Media screen size small tablet..*/

@media only screen and (max-width: 697px){

 
    .about-container{
        background-image: url('../img/bkg2.jpg' );
        background-repeat: no-repeat;
        background-size:cover;
        height:1000px;
        display: inline-block;
    }

    .botom2{
        margin-top: -45%;
        margin-right: 5%;
        height: 380px;
        width: 397.5px;
        margin-bottom: 100%;
        
    }

    .btAbout{
        margin-bottom: -50%;
    }
}

/*..Media screen size small tablet..*/

@media only screen and (max-width: 680px){

    .about-container{
     
        height:1000px;
        display:block;
    }

  .top1{
    display: block;
    margin-left: 2%;
    width: 92vw;
}
  

  .top1 > p{
      text-align: left;
      margin-left: 0;
  }

  .top2{
    display: block;
    margin-left: 2%;
    width: 92vw;
}


.top2 > p{
    text-align: left;
    margin-left: 0;
}

.botom1{
    display: block;
    margin-left: 2%;
    width: 92vw;
}


.botom1 > p{
    text-align: left;
    margin-left: 0;
}

.botom2{
    margin-left: -10px;
    width: 92vw;
    margin-top: 0;
    padding: 10px;
    height: auto;
    margin: 10px;
    margin-right: 35px;
}


.botom2 > ul{
    text-align: left;
    margin-left: 0;
}

.btAbout {
    margin-top: -42px;
}

}

/*..Media screen size large mobile..*/

@media only screen and (max-width: 554px){
    .about-container{
     
        height:1100px;
        display:block;
    }
}

/*..Media screen size large mobile..*/

@media only screen and (max-width: 454px){
    .about-container{
     
        height:1200px;
        display:block;
    }
}

/*..Media screen size mediun mobile..*/

@media only screen and (max-width: 411px){
    .about-container{
     
        height:1200px;
        display:block;
    }

    .botom2{
        margin-right: 1rem;    }
}

/*..Media screen size small mobile..*/

@media only screen and (max-width: 386px){
 

    .botom2{
        margin-right: 1.5rem;   
     }

     .botom1 > p{
        text-align: left;
        font-size: 15px;
    }

    
    .botom1 > h3{
        text-align: left;
        font-size: 15px;
    }

    .top1 > p{
        text-align: left;
        font-size: 15px;
    }

    
    .top1 > h3{
        text-align: left;
        font-size: 15px;
    }
    .top2 > p{
        text-align: left;
        font-size: 15px;
    }

    
    .top2 > h3{
        text-align: left;
        font-size: 15px;
    }

    .botom2 > ul{
        text-align: left;
        font-size: 15px;
    }

    
    .botom2 > h3{
        text-align: left;
        font-size: 15px;
    }
}