/*..homa page hero banner component css styling*/

.slider{
    background-image: url('../img/banner-img.jpg');
    background-repeat: no-repeat;
    background-position:center 5%;
    background-size: cover;
    width: 100%;
    height: 220px;
    animation: slide 20s infinite;
}

@keyframes slide {  /*..keyframes css animation for carrousel the banner images..*/
    0%{
        background-image: url('../img/banner-img.jpg');
    }

    25%{
        background-image: url('../img/banner-img1.jpg');
    }

    50%{
        background-image: url('../img/banner-img2.jpg');
    }

    100%{
        background-image: url('../img/banner-img.jpg');
    }
}

h2{
    font-family: arimo;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-top:10px;
}

p{
    font-family: arimo;
    font-size: 18px;
    padding-left: 10px;
}

.slog{
    margin-top:5%;
    font-weight: bold;
}

.slider > .lin img{   /*..slide images styling css..*/
    align-self: center;
    margin-left: 40%;
    margin-top: -60%;
    margin-bottom: 80px;
    width: 345px;
    height: 105px;
}

/*..media screen responsive size large desktop..*/

@media only screen and (max-width: 1366px){
    .slider > .lin img{
        margin-bottom: 0px;
    }
    

.slog{
    margin-top:5%;
}
 
}

/*..media screen responsive size mediun tablet..*/

@media only screen and (max-width: 820px){
  

.slider .slog{
    margin-top:13%;
}

.slider > .lin img{
    margin-bottom: 40px;
}
 
}

/*..media screen responsive size small tablet..*/

@media only screen and (max-width: 682px){

    .slider{
        background-image: url('../img/banner-t-img1.jpg');
        background-repeat: no-repeat;
        background-position:center 5%;
        background-size: cover;
        width: 100%;
        height:257px;
        animation: slide2 20s infinite;
    }

    @keyframes slide2 {
        0%{
            background-image: url('../img/banner-t-img1.jpg');
        }
    
        16%{
            background-image: url('../img/banner-t-img2.jpg');
        }
    
        32%{
            background-image: url('../img/banner-t-img3.jpg');
        }
    
        64%{
            background-image: url('../img/banner-t-img4.jpg');
        }

        80%{
            background-image: url('../img/banner-t-img5.jpg');
        }

        100%{
            background-image: url('../img/banner-t-img6.jpg');
        }
    }

    h2{
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        padding-top:10px;
        margin-left: 50%;
    }
    
    p{
        font-size: 18px;
        margin-left: 50%;

    }
    
       .slog  {
        position: relative;
        margin-bottom: -25px;
        font-weight: bold;
        margin-top: 30%;
        margin-left: 30%;
    }
    
    .slider > .lin img{
        align-self: center;
        margin-left: 40%;
        margin-top: -10%;
        width: 305px;
        height: 65px;
    }
    
}

/*..media screen responsive size large mobile..*/

@media only screen and (max-width: 515px){

    h2{
        font-family: arimo;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        padding-top:10px;
        margin-left: 30%;
    }
    
    p{
        font-family: arimo;
        font-size: 18px;
        margin-left: 30%;

    }

    .slider .slog  {
        position: relative;
        font-weight: bold;
        margin-top: 20%;
        margin-left: 20%;
    }
    
    .slider > .lin img{
        align-self: center;
        margin-left: 20%;
        margin-top: -15%;

    }

}

/*..media screen responsive size large mobile..*/

@media only screen and (max-width: 451px){

    h2{
        font-family: arimo;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        padding-top:10px;
        margin-left: 30%;
    }
    
    p{
        font-family: arimo;
        font-size: 18px;
        margin-left: 30%;

    }

    .slog  {
        position: relative;
        margin-bottom: -20px;
        font-weight: bold;
        margin-top: 30%;
        margin-left: 10%;
        font-size: 13px;
    }
    
    .slider > .lin img{
        align-self: center;
        margin-left: 20%;
        margin-top: -25%;
        width: 285px;
        height: 45px;
    }

}

/*..media screen responsive size small mobile..*/

@media only screen and (max-width: 365px){

    .slider{
        background-image: url('../img/banner-m-img1.jpg');
        background-repeat: no-repeat;
        background-position:center 5%;
        background-size: cover;
        width: 100%;
        height:138px;
        animation: slide2 20s infinite;
    }

    @keyframes slide2 {
        0%{
            background-image: url('../img/banner-m-img1.jpg');
        }
    
        16%{
            background-image: url('../img/banner-m-img2.jpg');
        }
    
        32%{
            background-image: url('../img/banner-m-img3.jpg');
        }
    
        64%{
            background-image: url('../img/banner-m-img4.jpg');
        }

        80%{
            background-image: url('../img/banner-m-img5.jpg');
        }

        100%{
            background-image: url('../img/banner-m-img6.jpg');
        }
    }

    h2{
        font-family: arimo;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        padding-top:10px;
        margin-left: 30%;
    }
    
    p{
        font-family: arimo;
        font-size: 15px;
        margin-left: 30%;

    }

    
    .slider > .lin img{
        align-self: center;
        margin-left: 15%;
        margin-top: -10%;
        width: 275px;
        height: 35px;
    }

    .slider .slog  {
        position: relative;
        margin-bottom: -20px;
        font-weight: bold;
        margin-top: 12%;
        margin-left: 5px;
        font-size: 13px;

    }
}