/*..Styling buttons component to be used for production ..*/

:root{
    --primary: linear-gradient(0deg, #002313 4.08%, #2D4818 27.18%, #4F6B29 44.9%, #4D7236 52.77%, #41673D 62.42%, #236631 72.09%, #215134 81.63%, #042C18 91%, #08140E 100%);
    --secondary: #006837;
    --white: #fff;
    --black: #000000;
    --transparent: transparent;
}

.btn {
    font-family: poppins;
    padding: 8px 20px;
    border-radius: 14px;
    outline: none;
    cursor: pointer;
    font-weight:bold;
    font-family: poppins;
}

/* button colours and styles hover*/

.btn:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #009245;
    transition: 250ms;
    transform: translateY(-3px);
}


/* button colours and styles*/

.btn--primary--solid{  /* primary solid button styling..*/

    background: var(--primary);
    color: var(--white);
    border: 2px solid var(--black);
    margin: 20px;
    margin-top: 60px;
    margin-left: 150px;
}

.btn--secondary--outline{   /* primary solid button styling..*/
    background: var(--transparent);
    color: var(--black);
    border: 3px solid var(--secondary);
    margin: 20px;
    margin-left: 70%;
    margin-top: -10%;
}

.btn--large{
    padding: 8px 20px;
    font-size: 15px;

}

.btn--small{
    padding: 5px 10px;
    font-size: 12px;
}

 /* media screen responsive button for large laptop..*/
@media only screen and (max-width: 1451px){

    .btn--secondary--outline{
       
        margin: 20px;
        margin-left: 70%;
        margin-top: 0%;
    }
  
    
}

 /* media screen responsive button for mediun laptop..*/

@media only screen and (max-width: 1271px){

    .btn--primary--solid{
        
        margin: 20px;
        margin-top: 60px;
        margin-left: 15%;
    }
    
}

 /* media screen responsive button for large tablet..*/

@media only screen and (max-width: 950px){

    .btn--primary--solid{
        display: block;
        margin: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .btn--secondary--outline{
       
        display:inline-block;
        margin: 20px;
        margin-left: 65%;
        margin-top: -90%;
        text-decoration: none;
    }
}

 /* media screen responsive button for mediun tablet..*/

@media only screen and (max-width: 820px){

 
   .btn--secondary--outline{
       
        display:inline-block;
        margin: 20px;
        margin-left: 35%;
        margin-top: -90%;
        text-decoration: none;
    }
}

 /* media screen responsive button for large mobile..*/

@media only screen and (max-width: 411px){
    .btn--small{
        padding: 5px 10px;
        font-size: 12px;
    }
 

 }