 /* ..Css styling for the main contact content component...*/

.contact-container{
    background: conic-gradient(from 158.15deg at 
    50% 50%, #A9ED93 -133.06deg,
     #7EDA4F 9.91deg, #A9ED93 30.84deg,
      #7FDA50 157.46deg, #A9ED93 226.94deg,
       #7EDA4F 369.91deg);
}

form{   /* styling the page form ..*/

    display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px;
  width: 50%;
}

label{
    display: block; 
}

.required:after{
    content: " * ";
    color: red;
}

input{
    border: 1px solid #000000; 
    padding: 0.5em; 
    width: 100%; 
    background: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
}

select{
    border: 1px solid #000000; 
    padding: 0.5em; 
    width: 100%; 
    background: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
}

textarea{
    border: 1px solid #000000; 
    padding: 1em; 
    width: 210%;
    height: 186px; 
    background: #E5E5E5;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.contact-left {
    width: 100%;
    margin-left: 20px;
}

.contact-left > h2{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.contact-left > p{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.btContact{
    padding: 20px;
    margin-right: 100%;
}

.contact-right{
    margin-right: 100px;
    margin-top: -30%;
    float: right;
    display:grid;
}

.contact-right > h3{
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-left: -10px;
}

.contact-right > strong{
    padding-top: 10px;
}

 select:hover, input:hover, textarea:hover{
   background-color: azure;
}

 /* media screen responsive for small desktop..*/

@media only screen and (max-width: 1625px) {
    .contact-right{
        margin-top: -30%;
        
    }
}

 /* media screen responsive for large laptop..*/

@media only screen and (max-width: 1427px) {
    .contact-right{
        margin-top: -38%;
        
    }
}

/* media screen responsive for large laptop..*/

@media only screen and (max-width: 1395px) {
    .contact-right{
        margin-top: -40%;
        
    }

} 

 /* media screen responsive for large laptop..*/

@media only screen and (max-width: 1323px) {
    .contact-right{
        margin-top: -45%;
        
    }
}

 /* media screen responsive for small laptop..*/

    @media only screen and (max-width: 1029px) {
        .contact-right{
            margin-top: -55%;
        }

    }

     /* media screen responsive for large tablet..*/

    @media only screen and (max-width: 959px) {
     
        
        .contact-right{
            margin-top: -58%;
        }

    }

         /* media screen responsive for large tablet..*/

    @media only screen and (max-width: 901px) {
     
        
        .contact-right{
            margin-top: -62%;
        }

    }

         /* media screen responsive for mediun tablet..*/

    @media only screen and (max-width: 837px) {
        .contact-left{
            display: flex;
            flex-direction: column;
            justify-content: start;
            max-width:100%;
            margin-left:10px; 
        }
        
        .contact-right{
            margin-top: -5%;
        }

    }

         /* media screen responsive for small tablet..*/

    @media only screen and (max-width: 681px) {
        .contact-left{
            display: flex;
            flex-direction: column;
            justify-content: start;
            max-width:100%;
            margin-left:10px; 
        }
        
        .contact-right{
            margin-top: -5%;
        }

        .contact-left  p {
            margin: 0;
        }

        .contact-left >  h2 {
            margin: 0;
        }

        form{
          width: 80%;
        }

    }