 /* Css style for the home content page component..*/

.left{   /* ..styling left side of the page ..*/

    display: block;
    padding: 10px;
    margin-left: 0px;
    width: 30%;
    text-align: justify;
    font-size: 20px;
}

h3{
    font-weight: bold;
    padding: 10px;
    font-size: 22px;
    margin-top: 10px;

}

 /* ..styling component background ..*/

.container{
    background: linear-gradient(270deg,
     #FFFFFF 25.52%, rgba(98, 70, 52, 0.77)
      72.69%, rgba(66, 33, 11, 0.75) 100%);
}

.right {   /* ..styling right side of the page ..*/

    float: right;
    margin-top: -18%;
    margin-right: 20px;
    display:flex;

}

 h4{
    font-weight: bolder;
    font-size: 20px;
    display:block;
    position:absolute;
    margin-top: -1.3%;
}

.sec{
    margin-top: 15%;
}

.right > img{
    padding-left: 40px;
    width: 232px;
    height: 245px;
    -webkit-transition: 1s;
    transition: 1s;
    
}


.right img:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);    
}


 .right  .img1 {
     background-color: rgb(151, 143, 143);
     padding: 20px;

 }

.right  .img2 {
    margin-left: 20px;
    background-color: rgb(151, 143, 143);
    padding: 20px;

}

.right  .img3 {
    margin-left: 20px;
    background-color: rgb(151, 143, 143);
    padding: 20px;
}

.right  .img1 > p{
    margin-top: 10px;
    margin-left: 10px;
}

.right  .img2 > p{
    margin-top: 10px;
    margin-left: 10px;
}

.right  .img3 > p{
    margin-top: 10px;
    margin-left: 10px;
}

 /* ..media screen responsive large laptop ..*/

@media only screen and (max-width: 1451px){

    .sec{
        margin-top: 20%;
    }
    
}

 /* ..media screen responsive mediun laptop ..*/

@media only screen and (max-width: 1271px){

    .sec{
        margin-top: 25%;
    }

      
    .right {
        margin-right: 10px;
        display:flex;
        margin-top: -38%;
    
    }
    
}

 /* ..media screen responsive small laptop ..*/

@media only screen and (max-width: 1021px){

    .sec{
        margin-top: 30%;
    }

    h4{
        font-weight: bolder;
        font-size: 20px;
        display:block;
        position:absolute;
        margin-top: -3%;
    }

    
    .right {
        margin-right: 10px;
        display:flex;
        margin-top: -50%;
    
    }
    
}

 /* ..media screen responsive large tablet ..*/

@media only screen and (max-width: 950px){
    .left{
        width: 50%;
        height: 1000px;
    }
   
    
    .right{
        display: flexbox;
        flex-wrap: wrap;
        content: stretch;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        margin-top: -100%;
        margin-right: -20px;
    }

    .right  .img3 {
        margin-top: 20px;
        margin-left: -5px;
        padding: 20px;
    }

    .sec{
        margin-top: 62%;
    }
}

 /* ..media screen responsive mediun tablet ..*/

@media only screen and (max-width: 820px){
    .left{
        width: 100%;
        height: 1000px;
    }
   
    
    .right{
        display: flexbox;
        flex-wrap: wrap;
        content: stretch;
        justify-content: flex-start;
        width: 100%;
        margin-top: -75%;
    }

    .right  .img3 {
        margin-top: 0px;
        margin-left: 20px;
        padding: 20px;
    }

    .sec{
        margin-top: 35%;
    }
}

 /* ..media screen responsive small tablet ..*/

@media only screen and (max-width:700px) {

      .sec{
        margin-top: 45%;
    }
}

 /* ..media screen responsive small tablet ..*/

@media only screen and (max-width: 645px){
    .left{
        width: 100%;
        margin-left: 0;
        justify-items: left;
    }

    .left >p{
        margin-left: 0;
    }
   

}

 /* ..media screen responsive large mobile ..*/

@media only screen and (max-width: 588px){
    .right{
        display: flexbox;
        flex-wrap: wrap;
        content: stretch;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: -100%;
    }

    .right  .img3 {
        margin-top: 20px;
        margin-left: -5px;
        padding: 20px;
        margin-bottom: 100px;
    }

    .sec{
        margin-top: 102%;
    }
}

 /* ..media screen responsive large mobile ..*/

@media only screen and (max-width: 528px){
    .right{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: -100%;
        flex-direction: column;
        align-content: space-between;
        align-items:flex-start;
    }

    h4{
        margin-top: -220%;
    }

    .sec{
        margin-top: 180%;
    }

    .right  .img2 {
        margin-top: 20px;
        margin-left: 0;
        padding: 20px;
        margin-bottom: 10px;
    }
     .right .img1 > img{
        width: 232px;
        height: 245px;
     }

     .right .img2 > img{
        width: 232px;
        height: 245px;
     }

     .right .img3 > img{
        width: 232px;
        height: 245px;
     }

}

 /* ..media screen responsive mediun mobile ..*/

@media only screen and (max-width: 451px){
    .right{
        
        margin-top: -110%;
        
    }

    
    h4{
        margin-top: -260%;
    }

    .sec{
        margin-top: 220%;
    }


}

 /* ..media screen responsive small mobile ..*/

@media only screen and (max-width: 375px){
    .right{
        
        margin-top: -130%;
        
    }

    
    h4{
        margin-top: -320%;
    }

    .sec{
        margin-top: 260%;
    }


}

